input {
    border: var(--border);
}

input:focus {
    outline-color: var(--purple_three);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple_three);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 550px;
    height: 670px;
    background-color: var(--white);
    border: var(--border);
    border-radius: var(--radius);
}

main > .glyphicon-remove {
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--black_sub2);
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

main > .glyphicon-remove:hover {
    color: var(--purple_three);
}

.logo-h {
    width: 230px;
    height: auto;
    margin-top: 150px;
    margin-bottom: 10px;
}

.title {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
}

.message {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.error {
    margin-top: 10px;
    color: var(--red);
    font-size: 16px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

form input {
    margin-top: 10px;
}

form input:focus {
    border-color: var(--purple_three);
}

form input[type=text],
form input[type=password] {
    width: 260px;
    height: 50px;
    padding-left: 30px;
    border: var(--border);
    color: var(--black_sub2);
    font-size: 16px;
    border-radius: var(--radius);
}

form .glyphicon-remove {
    display: none;
    position: absolute;
    right: 16px;
    top: 18px;
    color: var(--black_sub2);
    cursor: pointer;
}

.errorid,
.errorname,
.errorssn,
.errorpw,
.errorpwok {
    display: none;
    width: 260px;
    margin-top: 10px;
    color: var(--red);
    font-size: 14px;
}

.glyphicon-exclamation-sign {
    margin-right: 6px;
}

.btns {
    display: flex;
    justify-content: space-between;
    width: 260px;
}

.btn {
    min-width: 125px;
    width: inherit;
    max-width: 260px;
    height: 50px;
    border: var(--border);
}

.btn + .btn{
    width: 125px;
    margin-left: 10px;
}

form > span {
    height: 20px;
    margin-top: 40px;
    color: var(--black_sub2);
    font-size: 16px;
    font-weight: 400;
}

.enquiry {
    transition: 0.2s;
}

.enquiry:hover {
    color: var(--purple_three);
    cursor: pointer;
}

.modal {
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    width: 360px;
}

.modal h5 {
    font-size: 20px;
    font-weight: 700;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

p {
    margin: 0;
}