.netprofit_content_container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 850px 850px;
	gap: 20px 5px;
}


.netprofit_content_grid {
	border: 1px solid var(--black_sub2);
}

.netprofit_content_header {
	width: inherit;
	height: 50px;
	padding: 15px 20px;
	background-color: #9988DD;
	font-weight: 700;
}